.mine{
    background-color: lightseagreen;
    border: 5px solid black;
    width: 200px;
    padding: 30px 30px;

}
.mine1{
    background-color: yellow;
    border: 10px;
    border-left: 5px;
    border-right: 5px;
    border-style: solid;
    border-color: black;
    width: 200px;
    margin-left: 270px;

}
.mine2{
    background-color: palevioletred;
    border: 5px solid black;
    width: 200px;
    margin-left: 60px;
}